body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-header-container {
    padding-top: 40px;
}

<<<<<<< HEAD
.header {
=======
.main-header {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  font-family: "Gilroy", Arial, sans-serif;
  width: 100%;
  height:  299px;
  background-color: #f7e296;
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.header h1 {
=======
.main-header h1 {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-left: 58px;
  margin-top: -31px;
  font-size: 49px;
}

<<<<<<< HEAD
.all-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-header {
  height: 100px;
}

.top-top-header {
=======
.top-header {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 1039px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-top-header-left {
=======
.top-header-left {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 500px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-top-header-right {
=======
.top-header-right {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 500px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-top-header-right-left {
=======
.top-header-right-left {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 50%;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-top-header-right-right {
=======
.top-header-right-right {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 215px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-bottom-header {
=======
.nav-menu {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 1039px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-bottom-header-left {
=======
.nav-menu-left {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 500px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-bottom-header-right {
=======
.nav-menu-right {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 500px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-bottom-header-right-left {
=======
.nav-menu-right-left {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 270px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.top-bottom-header-right-right {
=======
.nav-menu-right-right {
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
  width: 50%;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.bottom-header {
  height: 100px;
}

.hidden-menu {
  width: 550px;
  margin-left: 61px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
=======
.hidden-menu {
  width: 1039px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
}

.hidden-menu ul {
  list-style: none;
<<<<<<< HEAD
  padding: 0;
  margin: 0;
=======
>>>>>>> f7ae30009e5a5e158c03082d8140f30b43105a72
}
