body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-header-container {
    padding-top: 40px;
}

.header {
  font-family: "Gilroy", Arial, sans-serif;
  width: 100%;
  height:  299px;
  background-color: #f7e296;
  display: flex;
  flex-direction: column;
}

.header h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-left: 57px;
  margin-top: -31px;
  font-size: 49px;
  letter-spacing: 0px;
}

.all-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 242px;
}

.top-header {
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-top-header {
  width: 1042px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.top-top-header-left {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.top-top-header-right {
  width: 501px;
  display: flex;
  justify-content: space-between;
}

.top-top-header-right-left {
  width: 195px;
  display: flex;
  justify-content: space-between;
}
.top-top-header-right-left a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15.4px;
  letter-spacing: 0.4px;
  color: #000000;
  padding-left: 25px;
}

.top-top-header-right-right {
  width: 197px;
  display: flex;
  justify-content: space-between;
}

.top-bottom-header {
  width: 1047px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.top-bottom-header-left {
  width: 221px;
  display: flex;
  justify-content: flex-end;
}

.top-bottom-header-right {
  width: 504px;
  display: flex;
  justify-content: space-between;
}

.top-bottom-header-right-left {
  width: 273px;
  display: flex;
  justify-content: space-between;
}

.top-bottom-header-right-right {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.bottom-header {
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hidden-menu {
  width: 616px;
  height: 89px;
  margin-left: 26px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hidden-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.top-top-header-right-right a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15.4px;
  letter-spacing: 0.4px;
  color: #000000;
}

.top-bottom-header-right-left a,
.top-bottom-header-right-right a,
.top-bottom-header-left a {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.55px;
}
