body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.container h1 {
  font-family: "Gilroy", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-left: 57px;
  margin-top: -31px;
  font-size: 49px;
  letter-spacing: 0px;
}

.header-indent {
  padding-top: 40px;
}

.header-menu {
  width: 1160px;
  min-height: 100px;
  background-color: #f7e296;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin-top: -2px;
  margin-left: 44px;
  margin-right: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 131px;
}

.menu-left,
.menu-right {
  width: 504px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-left {
  position: relative;
}

.right-up,
.right-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-up {
  margin-right: 3px;
}

.right-down {
  margin-left: 1px;
}

.login,
.compare,
.basket,
.search__button,
.menu-column-link {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15.4px;
  letter-spacing: 0.4px;
  color: #000000;
  position: relative;
  transition: opacity 200ms;
}

.login {
  margin-left: 26px;
  letter-spacing: 0.1px;
  position: relative;
}

.login::before,
.compare::before,
.basket::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.login::before {
  top: 2px;
  left: -26px;
  background-size: 14px;
  background-image: url("../img/user.svg");
}

.compare::before {
  top: 4px;
  left: -18px;
  background-image: url("../img/compare.svg");
}

.basket::before {
  top: 2px;
  left: -22px;
  background-size: 13px;
  background-image: url("../img/cart.svg");
}

.login:hover,
.compare:hover,
.basket:hover,
.catalog__button:hover,
.delivery:hover,
.guarantee:hover,
.contacts:hover,
.menu-column-link:hover {
  opacity: 0.6;
}

.login:active,
.compare:active,
.basket:active,
.catalog__button:active,
.delivery:active,
.guarantee:active,
.contacts:active,
.menu-column-link:active {
  opacity: 0.3;
}

.delivery-and-guarantee {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compare-and-basket
 {
  width: 196px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__button,
.delivery,
.guarantee,
.contacts {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  transition: opacity 200ms;
}

.search {
  margin-left: 51px;
  margin-bottom: 1px;
  position: relative;
}

.search__input {
  width: 356px;
  background-color: inherit;
  border: 2px solid transparent;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15.4px;
  letter-spacing: 0.1px;
  outline: none;
  opacity: 0.3;
  transition: opacity 200ms;
}

.search__input:hover {
  opacity: 0.6
}

.search::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 4px;
  height: 20px;
  width: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.catalog__button {
  width: 242px;
  margin-bottom: 1px;
  margin-left: 4px;
  background-color: inherit;
  border: 1px solid transparent;
  position: relative;
}

.catalog__button:hover+.main-menu,
.catalog__button:focus+.main-menu {
  visibility: visible;
}

.catalog__button::before {
  position: absolute;
  content: "";
  bottom: -1px;
  right: -21px;
  width: 20px;
  height: 25px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position-y: 4px;
  opacity: 0.3;
  transition: opacity 0ms;
}

.catalog__button:hover::before {
  opacity: 0.5;
}

.catalog__button:active::before {
  opacity: 1;
}

.search__button {
  width: 85px;
  height: 49px;
  background-color: inherit;
  border: 2px solid #000000;
  position: absolute;
  right: 0;
  bottom: -12px;
}

.main-menu {
  position: absolute;
  content: "";
  background-color: #f7e296;
  height: 141px;
  width: 1160px;
  top: 111px;
  left: -44px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  visibility: hidden;
  padding-top: 20px;
  transition: opacity 200ms;
}

.main-menu:hover,
.main-menu:focus {
  visibility: visible;
}

.menu-column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 9px;
}

.main-menu .menu-column:last-child {
  margin-left: 64px;
}

.menu-column-link {
  margin-left: 10px;
  margin-bottom: 18px;
  letter-spacing: 0px;
  font-weight: 300;
}

/*Шапка закончилась, начался слайдер*/

.slider-counter {
  background-color: #f7e296;
  height: 141px;
  position: relative;
}

.slider-counter label {
  position: absolute;
  bottom: -75px;
  right: 49px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 182px;
  color: #ffffff;
}

.slider-counter div {
  position: absolute;
  width: 100px;
  height: 7px;
  bottom: 67px;
  right: 460px;
  background-color: #ffffff;
}
